# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build Website

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24.13'
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm i
      - name: Lint with prettier
        run: pnpm run lint
      - name: Build website
        run: pnpm run build
      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6
        if: github.ref == 'refs/heads/main'
        with:
          aws-access-key-id: ${{ secrets.WEBSITE_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.WEBSITE_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      - name: Deploy hashed assets
        if: github.ref == 'refs/heads/main'
        run: >-
          aws s3 sync build/assets s3://glasskube.dev/assets/
          --cache-control "max-age=31536000, public"
          --acl=public-read
      - name: Deploy dynamic content
        if: github.ref == 'refs/heads/main'
        run: >-
          aws s3 sync build s3://glasskube.dev/
          --cache-control "max-age=60, public"
          --acl=public-read
      - name: Invalidate cache
        if: github.ref == 'refs/heads/main'
        run: >-
          aws cloudfront create-invalidation
          --distribution-id EQF3TRPHYDZTB
          --invalidation-batch "Paths={Quantity='1' ,Items=['/*']},CallerReference=WEBSITE_$GITHUB_RUN_ID"
